# frontend
node_modules
dist
.vscode
.DS_Store
*.local

# backend
**/bin/
**/obj/

# env
.env
appsettings.Production.json
appsettings.Staging.json

# IDE
.idea/

# logs
backend/src/Piedrazul.Api/logs/
*.log
